{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<section id="Events">
    <h2>Regional Events</h2>

    {{ form(form) }}

    <h2> Single Event Import</h2>
    {{ form(form2) }}
</section>
{% endblock %}