{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
<section id="PlayerCrud" class="crud-container">
    <h2>Players</h2>

    <h3>Filter Players </h3>
    {{form(filterForm)}}

    {{ include("crud/includes/crudContainer.html.twig",
    {'addTitle': 'Add Player', 'editTitle': 'Edit Players'}) }}
</section>
{% endblock %}