{% extends 'base.html.twig' %}

{% block title %}Players{% endblock %}

{% block body %}
<section id="PlayerCrud">
    <h2>Players</h2>

    <h3>Filter Players </h3>
    {{form(filterForm)}}

    <h3>Add Player</h3>
    {{form(addForm)}}

    <h3>Edit Players </h3>
    {{ include("crud/includes/crudContainer.html.twig") }}
</section>
{% endblock %}