body {
    background-color: black;
    color: white;
}

form {
    label {
     cursor: pointer;
    }

    button:hover {
        background-color: red;
    }

    .d-flex-row {
        display: flex;
        justify-content: space-between;
        label {
            flex-grow: 1;
        }
        :hover {
            background-color: red;
        }
    }
}

.d-grid {
    display: grid;
}

/* Tournament */
#tournamentIds {
    display: grid;
}

/* Sets */
.set-container {
    display: flex;
    flex-flow: column;

    button {
        margin-top: 10px;
    }
}

#PlayerCrud {
    div.filter-form {
        > div {
            display: grid;
        }
    }

    div#add_player_form,
    div#edit_player_form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        >div {
            display: inline-grid;

            :last-child{
                align-self: flex-end;
            }
        }
    }
}