body {
    background-color: black;
    color: white;

    a {
        font-weight: bold;
        color: blue;
    }

    a:visited {
        color: lightskyblue;
    }

    a:hover {
        color: red;
    }

    form {
        label {
            cursor: pointer;
        }

        button {
            cursor: pointer;
        }

        button:hover {
            background-color: red;
        }

        .d-flex-row {
            display: flex;
            justify-content: space-between;

            label {
                flex-grow: 1;
            }

            :hover {
                background-color: red;
            }
        }

        input[readonly="readonly"] {
            background-color: grey;
            cursor: default;
        }
    }

    .d-grid {
        display: grid;
    }
}

/* Tournament */
#tournamentIds {
    display: grid;
}

/* Sets */
#ImportSets {
    .set-container {
        display: flex;
        flex-flow: column;

        button {
            margin-top: 10px;
        }
    }
}

#PlayerCrud {
    div.filter-form {
        >div {
            display: grid;
        }
    }

    div#add_player_form,
    div#edit_player_form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        >div {
            display: inline-grid;

            :last-child {
                align-self: flex-end;
            }
        }
    }

    .player-data {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        form {
            flex: 1;
        }

        .references {
            display: flex;
            align-items: end;
        }
    }
}

#SetCrud {
    .set-row {
        display: flex;

        :hover {
            background-color: red;
        }

        .set-data {
            display: flex;
            width: 100%;

            .id {
                flex: 1;
            }

            .score {
                flex: 2;
            }

            .event {
                flex: 3;
            }

            .date {
                flex: 1;
            }
        }
    }
}