{% extends 'base.html.twig' %}

{% block title %}Player Tournaments{% endblock %}

{% block body %}
    <h2>Tournaments for {{ playerName }}</h2>

    {{ form(form) }}

    <pre>
    {{ debug }}
    </pre>
{% endblock %}